{%- assign lang = site.translations[site.lang] -%}

<div class="row justify-content-center pb-5">
  <div class="col-md-7 text-center heading-section dx-animate">
    {%- comment -%}
      <!-- {%- if include.header and include.header != '' -%}
        <span class="subheading">{{ include.header | liquify }}</span>
      {%- endif -%} -->
    {%- endcomment -%}
    {%- if include.subheader and include.subheader != '' -%}
      <h2 class="mb-4">{{ include.subheader | liquify }}</h2>
    {%- endif %}
    {%- if include.p and include.p != '' -%}
      {{ include.p | liquify | markdownify }}
    {%- endif -%}
    {%- if include.button_text and include.button_link != '' -%}
      <a href="{{ include.button_link }}" class="btn btn-primary px-4 py-2 mt-2">{{ include.button_text | liquify }}</a>
    {%- endif -%}
  </div>
</div>