{% comment %} <!-- 
  This partial allows you to pass in content to replace the tags with site variables. This is useful for using tags in data files and strings, which Liquid doesn't support.

  Test content:
    {% assign test = 'Block DX is a decentralized exchange. The exchange is powered by <a href="{{ site.link_docs }}">Blocknet</a>, a blockchain interoperability protocol project that enables communication, interaction, and exchange between different public and private blockchains. <a href="{{ site.link_docs_blockchain }}">BLOCK</a> is the token used for fees for the services on Blocknet\'s network, including decentralized exchange, decentralized off-chain oracle data, decentralized SPV network, and decentralized microservices.' %}
  Usage:    
    {% include link-converter.html content=test %}
  Output after first split:
    [
      'Block DX is a decentralized exchange. The exchange is powered by <a href="',
      ' site.link_docs }}">Blocknet</a>, a blockchain interoperability protocol project that enables communication, interaction, and exchange between different public and private blockchains. <a href="',
      ' site.link_docs_blockchain }}">BLOCK</a> is the token used for fees for the services on Blocknet's network, including decentralized exchange, decentralized off-chain oracle data, decentralized SPV network, and decentralized microservices.'
    ]
  Output after second split:
    [
      'Block DX is a decentralized exchange. The exchange is powered by <a href="',
      [
        ' site.link_docs ',
        '">Blocknet</a>, a blockchain interoperability protocol project that enables communication, interaction, and exchange between different public and private blockchains. <a href="'
      ],
      [
        ' site.link_docs_blockchain ',
        '">BLOCK</a> is the token used for fees for the services on Blocknet's network, including decentralized exchange, decentralized off-chain oracle data, decentralized SPV network, and decentralized microservices.'
      ]
    ]

  Simplified:
    include.content = xxxxx{{tag}}xxxxx{{tag}}xxxxx{{tag}}xxxxx{{tag}}xxx
    splitContent1 = [xxxxx, tag}}xxxxx, tag}}xxxxx, tag}}xxxxx, tag}}xxx]
    splitContent2 = [xxxxx, [tag,xxxxx], [tag,xxxxx], [tag,xxxxx], [tag,xxxxx]]


-->
<!-- Use for debugging -->
{% include tools/test.html key='Original content' val=include.content %}
{% endcomment %}



{% comment %} <!-- Variable to rebuild the tag-replaced content --> {% endcomment %}
{% assign finalContent = '' %}

{% comment %} <!-- Check if content contains a site variable --> {% endcomment %}
{% if include.content contains '{{' and include.content contains '}}' %}


  {% comment %} <!-- Splits the content into format: [x, tagx, tagx] --> {% endcomment %}
  {% assign splitContent1 = include.content | split: '{{' %}

  {% comment %} <!-- Iterate over the first split segments --> {% endcomment %}
  {% for segment in splitContent1 %}

    {% comment %} <!-- The first segment has no tag so add it back --> {% endcomment %}
    {% if segment == splitContent1.first %}
      {% assign finalContent = finalContent | append: splitContent1.first %}

    {% comment %} <!-- For everything else after the first segment --> {% endcomment %}
    {% else %}

      {% comment %} <!-- Splits content into format: [x, [tag,x], [tag,x]] --> {% endcomment %}
      {% assign splitContent2 = segment | split: '}}' %}

      {% comment %} <!-- Convert ' site.tag_name ' to 'tag_name' --> {% endcomment %}
      {% capture tempVariable %}{{ splitContent2.first | strip }}{% endcapture %}
      {% comment %}{% include test.html key='tempVariable' val=tempVariable %}{% endcomment %}

      {% comment %} <!-- If site tag exists, swap in the variable and adds it back --> {% endcomment %}
      {% if site[siteVariable] %}
        {% assign finalContent = finalContent | append: site[siteVariable] %}

      {% comment %} <!-- If data tag exists, swap in the variable and adds it back --> {% endcomment %}
      {% else %}
        {% assign dataVariable = siteVariable | replace: 'data.', '' %}
        {% comment %}{% include test.html key='dataVariable' val=dataVariable %}{% endcomment %}
        {% if site.data[dataVariable] %}
          {% assign finalContent = finalContent | append: site.data[dataVariable] %}

        {% comment %} <!-- If not found, recreate original string and add back --> {% endcomment %}
        {% else %}
          {% assign originalVariable = '{{ ' | append: splitContent2.first | append: ' }}' %}
          {% assign finalContent = finalContent | append: originalVariable %}
        {% endif %}
      {% endif %}

      {% comment %} <!-- Check if there's more content after the tag before adding back --> {% endcomment %}
      {% if splitContent2.size > 1 %}
        {% assign finalContent = finalContent | append: splitContent2.last %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% comment %} <!-- Returns content with tags replaced with site variable values --> {% endcomment %}
  {{ finalContent }}

{% endif %}