<section class="section bg-light">
  <div class="container">
    <div class="row">

      {% 
        include templates/blog-tile.html
        postUrl='https://blocknet.co/understanding-a-decentralized-exchange/'
        postTitle='Understanding a Decentralized Exchange'
        postImg='https://blockdx.com/assets/img/placeholder.png'
        animationDelay='0'
      %}
      {% 
        include templates/blog-tile.html
        postUrl='https://blocknet.co/exchange-hackings-security-and-freedom-why-would-traditional-exchanges-embrace-a-decentralized-exchange/'
        postTitle='Exchange Hackings, Security and Freedom'
        postImg='https://blockdx.com/assets/img/exchange-hackings-security-freedom-cover.png'
        animationDelay='100'
      %}
      {% 
        include templates/blog-tile.html
        postUrl='https://blocknet.co/the-evolution-of-the-decentralized-exchange-a-brief-history/'
        postTitle='The Evolution of Decentralized Exchange'
        postImg='https://blockdx.com/assets/img/evolution-decentralized-exchange-cover.png'
        animationDelay='200'
      %}
      {% 
        include templates/blog-tile.html
        postUrl='https://blocknet.co/understanding-a-decentralized-exchange/'
        postTitle='Understanding a Decentralized Exchange'
        postImg='https://blockdx.com/assets/img/placeholder.png'
        animationDelay='0'
      %}
      {% 
        include templates/blog-tile.html
        postUrl='https://blocknet.co/exchange-hackings-security-and-freedom-why-would-traditional-exchanges-embrace-a-decentralized-exchange/'
        postTitle='Exchange Hackings, Security and Freedom'
        postImg='https://blockdx.com/assets/img/exchange-hackings-security-freedom-cover.png'
        animationDelay='100'
      %}
      {% 
        include templates/blog-tile.html
        postUrl='https://blocknet.co/the-evolution-of-the-decentralized-exchange-a-brief-history/'
        postTitle='The Evolution of Decentralized Exchange'
        postImg='https://blockdx.com/assets/img/evolution-decentralized-exchange-cover.png'
        animationDelay='200'
      %}

    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="pagination">
          <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>