<section id="extra" class="section">
  <div class="container">

    {% 
      include templates/section-header.html
      header='Services'
      subheader='How It Works'
      p=''
    %}

    <div class="row">
      <div class="col-md-12 nav-link-wrap mb-5 pb-md-5 pb-sm-1 dx-animate">
        <div class="nav dx-animate nav-pills justify-content-center text-center" id="extraTabs" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="extra1-tab" data-toggle="pill" href="#extra1" role="tab" aria-controls="extra1" aria-selected="true">Market Making</a>
          <a class="nav-link" id="extra2-tab" data-toggle="pill" href="#extra2" role="tab" aria-controls="extra2" aria-selected="false">Node Operator</a>
          <a class="nav-link" id="extra3-tab" data-toggle="pill" href="#extra3" role="tab" aria-controls="extra3" aria-selected="false">Whitelabel DEX</a>
        </div>
      </div>
      <div class="col-md-12 align-items-center dx-animate">
        <div class="tab-content dx-animate" id="extraTabsContent">
          <div class="tab-pane fade show active" id="extra1" role="tabpanel" aria-labelledby="extra1-tab">
            <div class="d-md-flex">
              <div class="one-forth align-self-center">
                <img src="/assets/img/placeholder.png" class="img-fluid border" alt="">
              </div>
              <div class="one-half ml-md-5 align-self-center">
                <h2 class="mb-4">Become a Market Maker</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="extra2" role="tabpanel" aria-labelledby="extra2-tab">
            <div class="d-md-flex">
              <div class="one-forth order-last align-self-center">
                <img src="/assets/img/placeholder.png" class="img-fluid border" alt="">
              </div>
              <div class="one-half order-first mr-md-5 align-self-center">
                <h2 class="mb-4">Node operators earn 100% of trade fees</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="extra3" role="tabpanel" aria-labelledby="extra3-tab">
            <div class="d-md-flex">
              <div class="one-forth align-self-center">
                <img src="/assets/img/placeholder.png" class="img-fluid border" alt="">
              </div>
              <div class="one-half ml-md-5 align-self-center">
                <h2 class="mb-4">Launch your own DEX</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>