{% assign global = site.translations[site.lang].global %}
{% assign faq = site.translations[site.lang].faq %}

<section id="faq" class="section bg-light">
  <div class="container">

    {% 
      include templates/section-header.html
      header=faq.header
      subheader=faq.subheader
      p=''
    %}

    <div class="row">
      <div class="col-md-12 dx-animate accordion">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">

            {% assign faq_section_limit = 14 %}
            {% assign question_count = faq.questions | size %}
            {% if faq_section_limit > question_count %}
              {% assign faq_section_limit = question_count %}
            {% endif %}
            {% assign half_limit = faq_section_limit | divided_by: 2 | round %}

            {% for i in (0..half_limit) %}
              {% if i < half_limit %}
                {% assign q = faq.questions[i].question %}
                {% assign a = faq.questions[i].answer %}
                {% 
                  include templates/accordion.html
                  section='faq'
                  expanded=false
                  num=i
                  header=q
                  content=a
                %}
              {% endif %}
            {% endfor %}

          </div>
          <div class="col-lg-6 col-md-10">

            {% for i in (half_limit..faq_section_limit) %}
              {% if i >= half_limit %}
                {% assign q = faq.questions[i].question %}
                {% assign a = faq.questions[i].answer %}
                {% 
                  include templates/accordion.html
                  section='faq'
                  expanded=false
                  num=i
                  header=q
                  content=a
                %}
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>