<section class="section">
  <div class="container">

    {% 
      include templates/section-header.html
      header='Team'
      subheader='Meet the Team'
      p='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur'
    %}

    <div class="row">
      <div class="col-md-4 mb-5 dx-animate">
        <!-- <div class="block-10"> -->
          <div class="profile mb-2">
            <span class="name">Name 1</span>
            <span class="position">Title</span>
          </div>
          <img src="/assets/img/placeholder.png" alt="" class="img-fluid mb-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
        <!-- </div> -->
      </div>
      <div class="col-md-4 mb-5 dx-animate">
        <div class="block-10">
          <div class="profile mb-2">
            <span class="name">Name 2</span>
            <span class="position">Title</span>
          </div>
          <img src="/assets/img/placeholder.png" alt="" class="img-fluid mb-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
        </div>
      </div>
      <div class="col-md-4 mb-5 dx-animate">
        <div class="block-10">
          <div class="profile mb-2">
            <span class="name">Name 3</span>
            <span class="position">Title</span>
          </div>
          <img src="/assets/img/placeholder.png" alt="" class="img-fluid mb-3">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
        </div>
      </div>
    </div>
  </div>
</section>