---
title: global.meta_title
description: global.meta_description
keywords: global.meta_keywords
layout: default
namespace: home
permalink: /
---


{% assign lang = site.translations[site.lang] %}
{% assign baseurl = site.url | append: lang.global.link_index %}

<header id="hero">
  <div class="container">
    <div class="row px-0 pt-xl-4 pt-lg-0 pt-md-2 pt-sm-0 pt-2">
      <div class="col-sm-12 col-lg-4 text-center align-self-center text-lg-left dx-animate">
        <h1 class="mb-4 mx-auto">{{ lang.index.header }}</h1>
        <p class="mb-4 mx-auto">{{ lang.index.subheader }}</p>
        <div class="mb-5">
          <a href="{{ baseurl | append: '#downloads' }}" class="btn btn-primary btn1 px-4 py-2 mt-2 mr-1">{{ lang.index.button1 }}</a>
          <a href="{{ baseurl | append: '#features' }}" class="btn btn-white btn2 px-4 py-2 mt-2">{{ lang.index.button2 }}</a>
        </div>
      </div>
      <div class="col-sm-12 col-lg-8 align-self-center">
        <img src="assets/img/blockdx-pc-min.png" srcset="assets/img/blockdx-pc-min@2x.png 2x" class="img-fluid img" alt="">
      </div>
    </div>
  </div>
</header>

{% include sections/features.html %}
{% include sections/downloads.html %}
{% include sections/stats.html %}
{% include sections/faq.html %}
{% include sections/subscribe.html %}
<!--{% include sections/blog1.html %}-->

